{# <twig:c975LSite:General:CookieConsent/> #}
{% set cookiesPolicyUrl = config('url-cookies-policy') %}
<div data-controller="cookieConsent"
     data-message="{{ 'text.cookies_banner'|trans({}, 'site') }}"
     data-dismiss="{{ 'text.cookies_dismiss'|trans({}, 'site') }}"
     data-link="{{ 'label.cookies_policy'|trans({}, 'site') }}"
     {% if cookiesPolicyUrl %}
         data-href="{{ cookiesPolicyUrl }}"
     {% endif %}>
</div>