{# <twig:c975LSite:General:Footer [copyright="{{ copyright }}"]> #}
<footer>
    <ul class="menu-items">
        {% for item in menu_items('footer') %}
            <twig:c975LSite:General:MenuItem item="{{ item }}" />
        {% endfor %}
        {% if copyright is defined and copyright is not empty %}
            <li class="menu-item">
                <span class="menu-label">{{ copyright }}</span>
            </li>
        {% endif %}
    </ul>
    {% if config('display-footer-social') %}
        <twig:c975LSocial:SocialLinks />
    {% endif %}
    {% if config('display-made-by') or config('display-hosted-by') %}
        <div class="made-by">
            {% if config('display-made-by') %}
                <twig:c975LSite:General:MadeBy />
            {% endif %}
            {% if config('display-hosted-by') %}
                <twig:c975LSite:General:HostedBy />
            {% endif %}
        </div>
    {% endif %}
</footer>
{% if config('site-enable-matomo') %}
    <twig:c975LSite:General:Matomo />
{% endif %}
{% if config('site-enable-cookie-consent') %}
    <twig:c975LSite:General:CookieConsent />
{% endif %}
