{# <twig:c975LSite:General:Matomo/> #}
{% set matomoUrl = config('site-matomo-url') %}
{% set matomoId = config('site-matomo-id') %}
{% if matomoUrl and matomoId %}
    <div data-controller="matomo" data-matomo-url="{{ matomoUrl }}" data-matomo-id="{{ matomoId }}">
        <noscript>
            <img src="{{ matomoUrl ~ matomoId }}" style="border:0;" alt="" loading="lazy">
        </noscript>
    </div>
{% endif %}