/* BUTTONS */
.btn {
    border-radius: 5px;
    border: none;
    object-fit: cover;
    box-shadow: var(--button-box-shadow);
    padding: 0.7rem 1.2rem;
    margin: 2em auto;
    text-decoration: none;
    color: var(--button-color);
    font-family: var(--font-family-title);
    cursor: pointer;
}

.btn-primary {
    background-color: var(--button-background-primary);
}

.btn-primary:hover {
    background-color: var(--button-background-primary-dark);
}

.btn-secondary {
    background-color: var(--button-background-secondary);
    color: var(--button-secondary-color);
}

.btn-secondary:hover {
    background-color: var(--button-background-secondary-dark);
}

.btn-small {
    background-color: var(--button-background-primary);
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}

p,
li,
button,
button.btn,
a,
a.btn {
    white-space: normal;
    word-wrap: break-word;
}

a.btn,
a.btn:visited,
a.btn:hover,
a.btn:visited:hover {
    color: var(--button-link-color);
    text-decoration: none;
}

div .btn {
    margin: 1em 0;
}

div .btn-padding {
    margin-top: 3em;
}

p:has(.btn) {
    margin: 2em auto;
}

button.btn {
    margin: 0 auto;
}
