/* COLORS */
.blue {
    color: blue;
}

.darkgrey {
    color: #585858;
}

.green {
    color: green;
}

.grey {
    color: grey;
}

.maroon {
    color: maroon;
}

.orange {
    color: #E56717;
}

.pink {
    color: #FF4081;
}

.purple {
    color: purple;
}

.red {
    color: red;
}

.white {
    color: #fff;
}