/* COLORS */
.blue {
    color: #00f;
}

.lightgrey {
    color: #d3d3d3;
}

.darkgrey {
    color: #585858;
}

.green {
    color: #008000;
}

.grey {
    color: #808080;
}

.maroon {
    color: #800000;
}

.orange {
    color: #e56717;
}

.pink {
    color: #ff4081;
}

.purple {
    color: #800080;
}

.red {
    color: #f00;
}

.white {
    color: #fff;
}