/* CONTAINERS */
.container {
    margin: 0 auto 1.5em auto;
    padding: 0 15px 1em 15px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.jumbotron {
    border-color: var(--primary);
    border-style: solid;
    border-width: 6px;
    border-radius: 25px;
}

.container .jumbotron,
.container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
}

section {
    margin: 1em auto;
}