label[for=contact_form_username],
#contact_form_username,
.sr-only {
    position: absolute;
    top: -2576px;
    left: -4587px;
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
}