/* GENERAL */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    max-width: var(--body-max-width);
    margin: 0 auto;
    background-color: var(--background);
}

.box-shadow {
    box-shadow: var(--box-shadow);
}

.brand {
    color: var(--primary);
}

.hidden {
    visibility: hidden;
}
