/* IMAGES */
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.img-rounded {
    border-radius: 15px;
}

.img-thumbnail {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

.img-circle {
    border-radius: 50%;
}

.img-square {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.img-shadow {
    box-shadow: 0 0 10px 2px var(--input-shadow-color);
}

.img-300,
.img-500 {
    width: 90vw;
    height: auto;
    margin: 0 auto;
}

.img-300 {
    max-width: 300px;
}

.img-500 {
    max-width: 500px;
}

img.icon {
    width: 24px;
    height: 24px;
}

img.icon-big {
    width: 48px;
    height: 48px;
}

img.white {
    filter: invert(99%) sepia(16%) saturate(3%) hue-rotate(50deg) brightness(103%) contrast(100%);
}
