a,
h1 a {
    text-decoration: none;
    color: var(--primary);
}

h1 a:active,
a:hover h1 a:hover {
    text-decoration: underline;
}

a,
a:visited,
a:hover,
a:visited:hover {
    color: var(--link-color);
    text-decoration: underline;
}