nav {
    text-align: center;
}

nav a,
nav a:hover {
    color: var(--primary);
    font-family: var(--font-family-title);
}

nav img {
    height: 50px;
    width: auto;
}

@media only screen and (min-width: 768px) {
    nav img {
        height: 100px;
        width: auto;
    }
}