nav {
    margin-top: 20px;
    text-align: center;
}

nav a,
nav a:hover {
    color: var(--primary);
    font-family: var(--font-family-title);
}

nav p {
    font-size: 3em;
    font-family: var(--font-family-title);
    color: var(--primary);
}

nav img {
    height: 50px;
    width: auto;
}