.slider {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
    max-width: 450px;
    max-height: 80vh;
	position: relative;
    margin: 0 auto 50px auto;
}

.slider-item {
    position: relative;
    display: inline-block;
}

.slider-img {
    position: relative;
    height: auto;
	object-fit: cover;
	object-position: center;
    cursor: pointer;
}

.slider-credits,
.slider-rights-reserved {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary);
    color: #fff;
    padding: 5px;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.slider-credits {
    bottom: 25px;
}

.slider-rights-reserved {
    bottom: 0;
}

.slider .arrow {
	position: absolute;
    cursor: pointer;
}

.slider .arrow-left {
	left: 10px;
}

.slider .arrow-right {
	right: 10px;
}

.slider-dots {
	position: absolute;
	bottom: -40px;
	display: flex;
}

.slider-dot {
	margin-inline: 3px;
	width: 16px;
	height: 16px;
	background-color: #fff0;
	border: 3px solid var(--primary);
	border-radius: 100%;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.slider-dot.active {
	background-color: var(--primary);
}

.slider img.angle {
    height: 60px;
    color: var(--primary);
}