/* SNIPPET */
.rich-snippet {
    // background: var(--secondary-light);
    border: 1px solid var(--secondary-dark);
    border-radius: 6px;
    padding: 1.2em 1.5em;
    margin: 1em 0;
    font-size: 1em;
    color: var(--text-primary);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    text-align: center;

    span[itemprop="name"] {
        font-size: 1.2em;
        color: var(--primary);
        font-family: var(--font-family-title);
    }

    span[itemprop="description"] {
        font-style: italic;
        color: var(--primary);
    }

    span[itemprop="image"] {
        color: var(--primary);
        font-size: 0.95em;
    }

    div[itemprop="address"] {
        color: var(--primary);
    }

    span[itemprop="openingHours"],
    span[itemprop="telephone"] {
        color: var(--primary);
    }
}