/* SNIPPET */
.rich-snippet {
    border: 5px solid var(--primary);
    border-radius: 10px;
    padding: 1.2em 1.5em;
    margin: 2em 0;
    font-size: 1em;
    color: var(--text-primary);
    box-shadow: var(--box-shadow);
    text-align: center;

    span[itemprop] {
        color: var(--primary);
        font-size: 1.1em;
    }

    span[itemprop="name"] {
        font-size: 1.2em;
        color: var(--primary);
        font-family: var(--font-family-title);
    }

    span[itemprop="description"] {
        font-style: italic;
        color: var(--primary);
    }
}