table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 10px;
    margin: 0 auto 1em auto;
    background-color: transparent;
}

th {
    padding: 0.5em 1em;
    text-align: center;
    border-bottom: 5px solid var(--primary);
    font-weight: normal;
    font-family: var(--font-family-title);
    font-size: 1.5em;
}

tr {
    border-bottom: 1px solid var(--primary);
}

td {
    text-align: center;
    font-family: var(--font-family-body);
    padding: 10px;
}

tfoot tr {
    border-top: 5px solid var(--primary);
    border-bottom: none;
}

tfoot td {
    font-weight: normal;
    font-family: var(--font-family-title);
    font-size: 1.5em;
}