/* TYPOGRAPHY */
* {
    font-family: var(--font-family-body);
    color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-title);
    color: var(--primary);
    font-weight: var(--font-title-weight);
    text-align: center;
    margin: 0.5em auto 0.5em auto;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1.05rem;
}

.lead {
    font-family: var(--font-family-title);
    color: var(--black);
    font-size: 1.25rem;
    font-weight: bold;
}

.big,
.bigger {
    font-size: 130%;
}

.small,
.smaller {
    font-size: 90%;
}

.text {
    max-width: 800px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-underline {
    text-decoration: underline;
}

.text-muted {
    color: var(--label-color);
    font-style: italic;
    font-size: 0.9rem
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

blockquote {
    margin: 2em;
    padding: 0.5em;
    text-align: left;
    border-left: 10px solid var(--primary);
}