/* IMPORTANT: If modified, place a copy in templates/emails as used by emails */

:root {
    --alert-danger-color: #b64450;
    --alert-danger-background: #f2dede;
    --alert-info-background: #d9edf7;
    --alert-success-background: #d0e9c6;
    --alert-warning-background: #f9dba7;
    --back-pull-background-color: #bababa;
    --back-pull-background-color-hover: #90ee90;
    --black: #000;
    --body-max-width: 1440px;
    --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    --button-background-primary: rgb(11, 55, 178);
    --button-background-primary-dark: rgb(11, 55, 78, 0.9);
    --button-background-primary-light: rgb(11, 55, 78, 0.5);
    --button-background-secondary: rgb(218, 126, 57);
    --button-background-secondary-dark: rgb(218, 126, 57, 0.9);
    --button-background-secondary-light: rgb(218, 126, 57, 0.5);
    --button-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    --button-color: #fff;
    --button-secondary-color: #000;
    --button-link-color: #fff;
    --card-background: #fff;
    --disabled: #808080;
    --font-family-title: "Sans Serif";
    --font-family-body: "Sans Serif";
    --form-input-color: #555;
    --font-title-weight: normal;
    --font-body-weight: normal;
    --label-color: #808080;
    --link-color: #0d6efd;
    --input-border-bottom-color: #bfbfbf;
    --input-border-color: #4d4d4d;
    --input-focus-border-color: rgb(24, 115, 200);
    --input-focus-shadow-color: rgb(66, 130, 189);
    --input-shadow-color: #4d4d4d;
    --readmore-lines: 5;
    --required-color: #000;
    --white: #fff;
}