<p class="text-center">
	<a href="https://www.infomaniak.com/goto/fr/home?utm_term=5ad8c10b1e340" target="_blank">
		{{ 'label.hosted_by'|trans({}, 'site') }}
		<br>
		<img src="https://975l.com/images/logo-infomaniak.svg" alt="Infomaniak" title="Infomaniak" width="136" height="18">
	</a>
</p>