<p class="text-center">
	<a href="https://975l.com/{{ app.request.locale }}" target="_blank">
		{{ 'label.made_by'|trans({}, 'site') }}
		<br>
		<img src="https://975l.com/images/logoExtraSmall.png" alt="975L" title="975L" width="54" height="32">
	</a>
</p>
