parameters:
	ignoreErrors:
		-
			message: '#^Property c975L\\SiteBundle\\Entity\\CollectionItem\:\:\$updatedAt is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/CollectionItem.php

		-
			message: '#^Property c975L\\SiteBundle\\Entity\\Menu\:\:\$blocks is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Menu.php

		-
			message: '#^Property c975L\\SiteBundle\\Entity\\Page\:\:\$blocks is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Page.php
