{% trans_default_domain 'site' %}

{% set code = 404 %}
{% set title = 'label.error_code'|trans({'%code%': code}) %}

{% block content %}
    <div class="alert alert-danger text-center">
        <h2>
            <img src="{{ absolute_url(asset('bundles/c975lsite/icons/thumbs-down.svg')) }}" class="img img-responsive" alt="Thumbs down" width="48" loading="lazy"> {{ title }}
        </h2>
        <p>
            <span class="lead"><strong>Ooops...</strong></span><br>
            {{ ('text.err' ~ code)|trans }}<br>
        </p>
    </div>
    {% if image is not defined %}
        {% set image = 'bundles/c975lsite/images/error-' ~ random(1,6) ~ '.webp' %}
    {% endif %}
    <twig:c975LUi:Image:Image src="{{ absolute_url(asset(image)) }}" class="img-rounded" alt="error"/>
{% endblock %}