{% trans_default_domain 'site' %}

{# Defines specific variables #}
{% set title = 'Err410' %}

{% block content %}
{# Alert #}
    <div class="alert alert-danger text-center">
{# Title #}
        <h2>
            <span class="fas fa-thumbs-down"></span> Err410
        </h2>
{# Message #}
        <p>
            <span class="lead"><strong>Ooops...</strong></span><br>
            {{ 'text.err410'|trans }}<br>
        </p>
    </div>
{# Image #}
    {% if errImages.err410 is defined %}
        <p class="text-center">
            <img src="{{ errImages.err410 }}" class="img-responsive" alt="err404"><br>
        </p>
    {% endif %}
{% endblock %}