{% trans_default_domain 'site' %}

{# Defines specific variables #}
{% set title = 'Err410' %}

{% block content %}
    {# Alert #}
    <div class="alert alert-danger text-center">
        {# Title #}
        <h2>
            <img src="{{ absolute_url(asset('bundles/c975lsite/images/thumbs-down.svg')) }}" class="img img-responsive" alt="Thumbs down" width="48" loading="lazy"> Err410
        </h2>
        {# Message #}
        <p>
            <span class="lead"><strong>Ooops...</strong></span><br>
            {{ 'text.err410'|trans }}<br>
        </p>
    </div>
    {# Image #}
    {% if image is not defined %}
        {% set image = 'bundles/c975lsite/images/error-' ~ random(1,6) ~ '.webp' %}
    {% endif %}
    <p class="text-center">
        <img src="{{ absolute_url(asset(image)) }}" class="img img-responsive img-rounded" alt="error" loading="lazy">
    </p>
{% endblock %}