{% extends 'layout.html.twig' %}

{% set title = page.title %}

{% block content %}
    <p class="text lead">{{ page.description|raw|nl2br }}</p>
    <twig:c975LSite:Article:Articles articles="{{ page.articles }}" />
{% endblock %}