{% extends '@EasyAdmin/crud/edit.html.twig' %}

{% block main %}
    {{ parent() }}

    <legend class="col-form-label">{{ 'label.qrcode'|trans({}, 'site') }}</legend>
    <p class="text-muted">{{ 'label.qrcode_help'|trans({}, 'site') }}</p>
    <img src="{{ ea_url().setAction('qrcode').setEntityId(entity.instance.id) }}" alt="QR Code">
{% endblock main %}