{# Defines specific variables #}
{% set title = 'Err404' %}

{% block content %}
    <div class="container">
{# Alert #}
        <div class="alert alert-danger text-center">
{# Title #}
            <h2>
                <span class="fas fa-thumbs-down"></span> Err404
            </h2>
{# Message #}
            <p>
                <span class="lead"><strong>Ooops...</strong></span><br />
                {{ 'text.err404'|trans({}, 'site') }}<br />
            </p>
        </div>
{# Image #}
        {% if errImages.err404 is defined %}
            <p class="text-center">
                <img src="{{ errImages.err404 }}" class="img-responsive" alt="err404" /><br />
            </p>
        {% endif %}
{# Contact #}
        <p class="text-center">
            <a href="{{ path('contactform_display') ~ '?' ~ { 's': 'Err404-' ~ app.request.uri }|url_encode }}" class="btn btn-info btn-lg" rel="nofollow">{{ 'text.point_error'|trans({}, 'commons') }}</a>
        </p>
    </div>
{% endblock %}