{% trans_default_domain 'site' %}

{# Defines specific variables #}
{% set title = 'Err403' %}

{% block content %}
{# Alert #}
    <div class="alert alert-danger text-center">
{# Title #}
        <h2>
            <span class="fas fa-thumbs-down"></span> Err403
        </h2>
{# Message #}
        <p>
            <span class="lead"><strong>Ooops...</strong></span><br />
            {{ 'text.err403'|trans }}<br />
        </p>
    </div>
{# Image #}
    {% if errImages.err403 is defined %}
        <p class="text-center">
            <img src="{{ errImages.err403 }}" class="img-responsive" alt="err403" /><br />
        </p>
    {% endif %}
{# Contact #}
    <p class="text-center">
        <a href="{{ path('contactform_display') ~ '?' ~ { 's': 'Err403-' ~ app.request.uri }|url_encode }}" class="btn btn-info btn-lg" rel="nofollow">{{ 'label.point_error'|trans }}</a>
    </p>
{% endblock %}