{% extends "layout.html.twig" %}
{% trans_default_domain 'site' %}
{% set title = 'label.dashboard'|trans({}, 'toolbar') %}

{% block content %}
{# Toolbar #}
    {{ toolbar_display('@c975LSite/tools.html.twig', 'dashboard', 'md') }}
    <div class="text-center">
        {{ toolbar_button_text(path('site_config'), 'config', 'md') }}
    </div>
{% endblock %}